<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>keynode</title>
</head>
<body>
{# 导航栏 #}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-text" style="font-size: 30px; margin: -5px 10px -5px; color: white">
        STCDB
    </span>
    <div class="collapse navbar-collapse dropdown" id="navbarNavDropdown">
        <ul class="navbar-nav nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/homepage" style="color: white">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown"
               href="#"
               role="button"
               aria-expanded="false"
               style="color: white"
            >Databases</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/entitydb">Entity</a></li>
              <li><a class="dropdown-item" href="/interactdb">Interactions</a></li>
              <li><a class="dropdown-item" href="/pathwaydb">Pathways</a></li>
              {# <li><hr class="dropdown-divider"></li> #}
            </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/align" style="color: white">Align</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manual" style="color: white">Manual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://bis.zju.edu.cn/binfo/" style="color: white">Our lab</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

keynode

</body>
</html>